{% extends "layout.html" %}

{% block title %}
    Password Reset | Fitkit
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/users/static/css/forgot_password.css">
{% endblock %}


{% block main %}

		<!--------------- account page ------------>
		<div class="forgot-password-container">
			<div class="row">
				<div class="col-2">
					<img src="https://myfitkitbucket.s3.ap-south-1.amazonaws.com/images/logos/logo3.jpg">
				</div>
				<div class="col-2">
					<div class="form-container">

						<div id="Email-form">
							<p>Registered Email</p>
							<form method="post">
								<input type="text" placeholder="Email" name="email" autocomplete="off">
								<button type="submit" class="btn">Submit Email</button>
								<br>
							</form>
						</div>


						<div id="Otp-form">
							<p>Otp</p>
							<div class="otp-mssg">An otp has been sent to your Email Address. Enter the OTP</div>
							<form method="post">
								<input type="text" placeholder="Otp" name="otp" autocomplete="off">
								<br>
								<button type="submit" class="btn">Submit Otp</button>
							</form>
						</div>

						<div id="NewPassword-form">
							<p>New Password</p>
							<form method="post">
								<input type="password" placeholder="New Password" name="newPassword">
								<input type="password" placeholder="Comfirm Password" name="confirmPassword">
								<button type="submit" class="btn">Change Password</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!---------- js for toggle Form ----------------->
		<script>

			var Email_form = document.getElementById("Email-form");
			var Otp_form = document.getElementById("Otp-form");
			var NewPassword_form = document.getElementById("NewPassword-form");


			$(document).ready(function() {

				$('.alert').delay('1000').slideDown("slow").delay(2000).slideUp(1000);


				$('#Email-form button').click(function(e){

					e.preventDefault();

					var email = $('#Email-form form').find("input[name='email']").val();

					console.log(email)
					$.post('/users/forgotPassword', {'email': email}, function(data){

							console.log(data)

							if (data.status == 'error'){

								console.log(data.message)
								$('.alert').html(data.message).slideDown("slow")
											  .addClass("flash-danger").delay(2000).slideUp(1000);
							}
							else if (data.status == 'success'){
								Email_form.style.transform = "translateX(300px)";
								Otp_form.style.transform = "translateX(300px)";
							}
					})

				});


				$('#Otp-form button').click(function(e){

					e.preventDefault();

					console.log('otp button clicked')
					var otp = $('#Otp-form form').find("input[name='otp']").val();

					$.post('/users/otp', {'otp': otp}, function(data){

							if (data.status == 'error'){

								console.log(data.message)
								$('.alert').html(data.message).slideDown("slow")
											  .addClass("flash-danger").delay(2000).slideUp(1000);
							}
							else if (data.status == 'success'){
								Otp_form.style.transform = "translateX(-0px)";
								NewPassword_form.style.transform = "translateX(-300px)";
							}
					})

				});

				$('#NewPassword-form button').click(function(e){

					e.preventDefault();

					console.log('new password button clicked')

					var password = $('#NewPassword-form').find("input[name='newPassword']").val();
					var conf = $('#NewPassword-form').find("input[name='confirmPassword']").val();

					console.log(password, conf)
					$.post('/users/reset_password', {'newPassword': password, 'confirmPassword': conf}, function(data){

							if (data.status == 'error'){

								console.log(data.message)
								$('.alert').html(data.message).slideDown("slow")
											  .addClass("flash-danger").delay(2000).slideUp(1000);
							}
							else if (data.status == 'success'){

								window.location.href = "/users/login";
							}
					})

				});
			})

		</script>
	</style>

{% endblock %}
