{% extends "layout.html" %}

{% block title %}
    Product Details | Fitkit
{% endblock %}


{% block css %}
	<link rel="stylesheet" href="/static/css/myCart.css">
{% endblock %}


{% block main %}
		<!--------------- cart items details ------------->

		<div class="cart-container">

			<div class="link">
				<i class="fa fa-caret-right"></i>
				<a href="/myOrders">My Orders &#8594;</a>
			</div>

			{% if products|length > 0 %}
			<h1 class="my-cart-title">My Cart</h1>
			<table>
				<tr>
					<th>Product</th>
					<th>Quantity</th>
					<th>Size</th>
					<th>Subtotal</th>
				</tr>
				{% for product in products %}
				<tr class="cart-item" id="{{ product.cart_id }}">
					<td>
						<div class="cart-info">
							<a href="/product/detail?p={{ product.product_id }}">
							<img src="https://myfitkitbucket.s3.ap-south-1.amazonaws.com/images/thumbnails/{{ product.product_id }}.jpg">
							<p>{{ product.product_name }}</p>
							</a>
							<div class="cart-medium">
								<medium>Price: &#8377; {{ product.price }}</medium>
								<br>
								<a href="/removeFromCart?p={{ product.cart_id }}">Remove</a>
							</div>
						</div>
					</td>
					<td>{{ product.quantity }}</td>
					<td>
						{{ product.size }}
					</td>
					<td>&#8377; {{ product.price * product.quantity }}</td>
				</tr>
				{% endfor %}

			</table>

			<div class="total-price">

				<table>
					<tr>
						<td>Grand Total</td>
						<td>&#8377; {{ grandTotal }}</td>
					</tr>
				</table>
			</div>
			{% if grandTotal != 0 %}
			<div class="order-btn-div">
				<a href="/place_order"><button class="order-btn">Place Order Now &#8594;</button></a>
			</div>
			{% endif %}

		{% else %}
			<div class="no-product"><h1>Empty Cart</h1></div>
		{% endif %}
		</div>

{% endblock %}